<launch>
    <node name="cloud_crop" pkg="lidar" type="cloud_crop" />

</launch>
<!--<node name="feature_based_fuser" pkg="fusion" type="lidar_object_fusion" />-->
<!-- <node name="object_detector" pkg="cameraPy" type="object-detection.py" /> -->
<!--<node name="clusteringCUDA" pkg="lidar" type="clusteringCUDA" />-->