<launch>
    <param name="input" value="/kitti/velo/pointcloud" />
    <param name="lidar_input" value="/lidar/detection/out/cropped" />
    <param name="camera_input" value="/kitti/camera_color_left/image_raw" />

    <arg name="input"/>
    <node name="cloud_crop" pkg="lidar" type="cloud_crop" args="${arg input}"/>

</launch>
<!--<node name="feature_based_fuser" pkg="fusion" type="lidar_object_fusion" />-->
<!-- <node name="object_detector" pkg="cameraPy" type="object-detection.py" /> -->
<!--<node name="clusteringCUDA" pkg="lidar" type="clusteringCUDA" />-->