<launch>
    <node name="cloud_crop" pkg="lidar" type="cloud_crop">
        <remap from="input" to="/carla/ego_vehicle/lidar/front/point_cloud" />
    </node>
    <node name="vision_node" pkg="fusion" type="lidar_camera_fusion" output="screen">
        <param name="cameraInput" type="str" value="/carla/ego_vehicle/camera/rgb/front/image_color"/>
        <param name="cameraPlane" type="double" value="0.3"/>
        <param name="projectionScale" type="double" value="-2500"/>
        <param name="copX" type="double" value="0.0"/>
        <param name="copY" type="double" value="0.0"/>
        <param name="copZ" type="double" value="0.0"/>
    </node>
</launch>
